.frequent-questions {
  padding: 72px 0;
  //   padding-top: 144px;
  &__heading {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #000000;
  }
}
