@import "visually-hidden";
@import "container";
@import "../../components/Btn/btn";
@import "../../components/Login/login";
@import "../../components/SiteHeader/site-header";
@import "../../components/Navbar/navbar";
@import "../../pages/courses/courses";
@import "../../pages/courses/[course]/course";
@import "../../pages/courses/[course]/course-inner";
@import "../../components/Loading/profile";
@import "../../components/Alert/alert";
@import "../../components/Alert/log-out";
@import "../../components/LandingPage/Header/header";
@import "../../components/LandingPage/Footer/footer";
@import "../../components//LandingPage/Main/FrequentQuestions/frequent-questions";
@import "../../components/Accordion/accordion";
@import "../../components/Articles/articles";
@import "../../components/LandingPage/Main/Hero/hero";
@import "../../components/LandingPage/Main/AboutProject/about-project";
@import "../../components/LandingPage/Main/InterestingNumbers/interesting-numbers";
@import "../../components/LandingPage/Main/Works/works";
@import "../../components/LandingPage/Main/OurCourses/our-courses";
@import "../../components/LandingPage/SinglePostWrap/single-post-wrap";
@import "../../components/LandingPage/Main/CommentsSlider/CommentsSlider"
