// COLORS
$color-bg: #f6f6f6;
$color-brand:#6600e9;
$color-text-primary: #000;
$color-text-secondary: #414141;
$color-text-secondary-light: #646464;
$color-btn-text-dark: #292929;
$color-white: #fff;
$color-border: #d2d2d2;
$color-disabled: #e7e7e7;
$color-light-grey: #888888;
$color-danger: #da1515;
$color-progress-red: #de330e;
$color-progress-yellow: #dce01c;
$color-progress-green: #2dcc13;

$theme-moon-dark-color: #fff;
$theme-moon-dark-opacity: 1;
$theme-sun-dark-opacity: 0.3;
$theme-sun-dark-color: #000;



:root{
    $theme-moon-dark-color:#000;
    $theme-moon-dark-opacity: 0.3;
    $theme-sun-dark-opacity: 1;
}


